/******* CARD *********/
.card {
    background-color: $txt-color-footer;
    border-radius: 20px;
    padding: 5px;
    filter: $btn-filter;
}
  
.card img {
    object-fit: cover;
}
  
.card-title {
    font-size: 16px;
}
  
.card-pin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-pin i {
    position: absolute;
}

.card-pin .fa-regular {
    color: $loc-icon-color;
}

.card-pin .fa-solid {
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
    animation-fill-mode: forwards;
}
.card-pin .fa-solid:hover {
    opacity: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $prim-color;
}
  
.card-check {
    background-color: $therd-color;
    width: 59px;
    height: 70px;
    margin: 0;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    transform: translateX(59px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transition-delay: opacity 1.5s ease-in-out;
}
  
.card:hover .card-check {
    transform: translateX(0px);
    opacity: 1;
}
  
.card-check i {
    color: $txt-color-footer;
}

.card-check {
    background-color: $therd-color;
}

.card-price-check {
    margin-left: -60px;
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.card-price p {
    margin: 5px 0 16px;
    font-weight: bold;
}