/********* EN TETE *******/
.en-tete {
    @include box-flex-row;
    height: 100px;
}
  
.en-tete-accueil {
    @include box-flex-column;
}
  
.en-tete-accueil .title {
    height: 100px;
    box-shadow: 0px 10px 10px 0px rgba(186, 186, 186, 0.8);
    z-index: 2;
}
  
@media (min-width: 1025px) {
    .en-tete-accueil .title {
      box-shadow: none;
    }
}
  
.en-tete-accueil .location {
    height: 50px;
    box-shadow: 0px 10px 10px 0px rgba(186, 186, 186, 0.8);
    z-index: 1;
}
  
@media (min-width: 1025px) {
    .en-tete-accueil .location {
      box-shadow: none;
    }
}