.location {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $loc-color;
	padding: 10px 0;
}
  
.location-element {
	display: flex;
	justify-content: center;
}
  
.location-icon {
	margin: 10px;
}
  
.location-exemple {
	background-color: $loc-color;
	border: none;
	font-weight: bold;
}
  
.location-exemple::placeholder {
	font-size: 18px;
	color: $txt-color;
}

.badge::after {
    content: "Nouveau";
    color: $txt-badge-color;
    background-color: $therd-color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}