/******** PAGE RESTO *******/
.go-back {
    height: 30px;
    display: flex;
    align-items: center;
}

@media (min-width: 1025px) {
    .main-desktop-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.resto-title {
    @include box-flex-row;
}

.resto-title h2 {
    font-family: "shrikhand", sans-serif;
}
  
.resto-title .card-pin {
    display: flex;
    align-items: center;
}

.resto-title .card-pin i {
    position: absolute;
    cursor: pointer;
}