$prim-color: #9356dc;
$second-color: #ff79da;
$therd-color: #99e2d0;
$back-color: #f6f6f6;
$foot-color: #353535;
$loc-color: #eaeaea;
$loc-icon-color: gray;
$txt-badge-color: #3b8568;
$txt-color: #000000;
$txt-color-footer: #fff;
$width-24px: 24px;
$btn-color: linear-gradient($prim-color, $second-color);
$btn-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
$btn-filter-hover: drop-shadow(0px 5px 10px rgba(0, 0, 0, 1));
